{% extends 'base.html' %}
{% block title %}Choose New Password{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <h3 class="mb-3 text-center">Set a New Password</h3>
    {% if validlink %}
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success w-100">Change password</button>
      </form>
    {% else %}
      <div class="alert alert-danger">
        The reset link is invalid or has expired.
      </div>
      <a href="{% url 'accounts:password_reset' %}" class="btn btn-primary">Request a new link</a>
    {% endif %}
  </div>
</div>
{% endblock %}